.card-container {
  margin-top: 30px;
  position: relative;

  .card {
    position: absolute;
    height: $card-height;
    width: $card-width;
    .card-inner {
      width: 100%;
      height: 100%;
    }
  }
}
